__pycache__/
build/
*.egg-info/
*.egg/
ipfs_model_manager/
config.toml
*config.toml
config/__pycache__/
config/__pycache__
__pycache__
ipfs_model_manager.egg-info
ipfs_model_manager.egg-info/
orbitdb
ipfs